services:
  php:
    build: .
    container_name: omniflow-laravel-starter
    # image: serversideup/php:8.5-frankenphp
    ports:
      - "8200:80"
      - "8250:443"
    env_file:
      - .env
    environment:
      PHP_OPCACHE_ENABLE: "1"
      PHP_MEMORY_LIMIT: "512M"
      PHP_MAX_EXECUTION_TIME: "120"
      PHP_UPLOAD_MAX_FILESIZE: "100M"
      PHP_POST_MAX_SIZE: "100M"
      AUTORUN_ENABLED: "false"
      TZ: "Asia/Jakarta"
      CADDY_HTTP_PORT: "80"
    user: root
    volumes:
      - storage:/var/www/html/storage
      - bootstrap_cache:/var/www/html/bootstrap/cache
    restart: unless-stopped
    command: >
      sh -c "chmod -R 777 /var/www/html/storage /var/www/html/database /var/www/html/bootstrap/cache &&
             touch /var/www/html/storage/logs/laravel.log &&
             chown -R www-data:www-data /var/www/html &&
             su -s /bin/bash -c 'php artisan config:clear && php artisan cache:clear && php artisan optimize' www-data &&
             frankenphp run --config /etc/frankenphp/Caddyfile --adapter caddyfile"

volumes:
  storage:
  bootstrap_cache:
